<div class="col s4 center-align">
  <div class="row">
    <h6 style="font-size: 9pt; font-family: Calibri,sans-serif; font-style: italic">Calle 14A 2E-22 Caobos - PBX:(7) 5836827 WhatsApp: +57 3507282887</h6>
    <h6 style="font-size: 9pt; font-family: Calibri,sans-serif; font-style: italic">Cuc&uacuteta - Colombia</h6>
  </div>
</div>
