  <div class="row">
    <style>
     .boxed {
       background: #BFBFBF;
       width: 217px;
       height: 37px;
       border-radius: 8px;
     }
    </style>
    <div class="col s4 left-align">
      <%= wicked_pdf_image_tag('logo.png', width: "148.88", height: "114.27") %>
    </div>
    <div class="boxed col s4 center-align">
      <div style="padding-top: 8px" ><b><%= title %></b></div>
    </div>
    <div class="col s4 right-align">
      <div class="row">
        <h6 style="font-size: 9pt; font-family: Calibri,sans-serif;"><b><%= format_code %></b></h6>
        <h6 style="font-size: 9pt; font-family: Calibri,sans-serif;">Fecha: 15/04/2019</h6>
        <h6 style="font-size: 9pt; font-family: Calibri,sans-serif;">Versi&oacute;n: 1</h6>
      </div>
    </div>
  </div>
  <br/>

