<%= render 'shared/card' do%>
<div class="flex flex-wrap px-4">
  <div class="flex felx-wrap mb-4">
    <div class="w-full">
      <h3>Crear Facultad</h3>
    </div>
  </div>
  <%= render 'form', faculty: @faculty %>
</div>
<% end %>
