<div class="justify-center w-full md:w-3/4 mb-32">
  <div class="w-full pl-0 md:pl-2">
  <div class="bg-white shadow border border-g-l5 py-4 px-2 rounded">

    <% has_return = nil if local_assigns[:has_return].nil? %>
    <% return_path = request.referer if local_assigns[:return_path].nil? %>
    <% unless local_assigns[:has_return].nil? %>
    <div class="flex w-full px-4 mb-4">
      <div class="flex w-full border-b">
        <%= link_to( return_path, class: 'btn btn-secondary no-underline mb-4') do %>
          <%= icon('fas', 'angle-left', 'Volver') %>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</div>
