<div class="justify-center w-3/4">
  <div class="w-full pl-0 md:pl-2">
  <div class="bg-white shadow border border-g-l5 py-4 rounded">

    <div class="flex px-4">
      <div class="w-2/3">
        <% has_return = nil if local_assigns[:has_return].nil? %>
        <% return_path = request.referer if local_assigns[:return_path].nil? %>
        <% unless local_assigns[:has_return].nil? %>
          <%= link_to( return_path, class: 'btn-secondary no-underline') do %>
          <%= icon('fas', 'angle-left', 'Volver') %>
        <% end %>
      <% end %> 
      </div>
    </div>
    <%= yield %>
  </div>
</div>  
</div>
