<div class="container mx-auto pt-6">
<% flash.each do |key, value| %>
  <div id="flash">
      <div id="flash2" v-if="close" :class="animatedFlash" class="alert alert-<%= key %>" role="alert">
        <div class="flex">
          <%= icon('fa', icon_alert[key], class: 'mr-3 fa-2x') %>
          <div class="text-teal-darkest w-1/2">
            <p class="font-bold">Atención.</p>
            <p class="text-sm"><%= value %></p>
          </div>
          <div class="w-full flex justify-end items-center">
            <%= icon('fa', "times", class: 'text-grey-darker fa-sm cursor-pointer', "v-on:click" => "close") %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>
