<nav class="flex items-center flex-wrap shadow">
  <div class="container mx-auto flex">
    <div class="w-1/2 flex items-center m-0">
      <div class="w-48 flex-no-shrink text-white justify-start">
        <img src="/logo_complete.png" weight="25%" alt="">
      </div>
    </div>
    <div class="w-1/2 flex items-center justify-end">
      <button href="#" class="bg-primary text-white px-5 py-2 no-underline hover:bg-secondary rounded focus:outline-none">Registrarse</button>
      
    </div>
  </div>
</nav>
