<%= render  'shared/card' do %>
  <div class="flex px-4">
    <div class="w-2/3">
    </div>
    <div class="w-1/3 text-right">
      <a class="btn btn-primary">
        <!-- <i class="fas fa-plus fa-lg"></i> -->
        Crear un médico
      </a>
    </div>
  </div>
  <div id="home_page" class="w-full">
    <div id="side-menu" class="">
      <div class="my-8 flex px-4">
        <div class="w-1/2">
          <h4 class="font-semibold text-g-d4 text-lg">
            Médicos
            <br><span class="font-medium text-sm text-g-d2">Listado de médicos</span>
          </h4>
        </div>
        <div class="w-1/2 text-right">
          <form class="w-full max-w-sm">
            <div class="flex items-center border-b border-b-2 border-g-l3 py-2">
              <input class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Nombre del médico">
              <button class="flex-no-shrink bg-white hover:bg-b-d border-b-d text-b-d text-sm border hover:text-white py-1 px-2 rounded" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="px-0 md:px-4 overflow-auto">
        <!-- table heading -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Trigger/Open The Modal -->
      <div class="flex flex-wrap px-4">
        <div class="flex w-full">
          <button id="myBtn" class="btn btn-primary" @click="btnModal()">Open Modal</button>
        </div>

        <!-- The Modal -->
        <transition name="transition-modal" >
          <div id="myModal" class="modal" v-show="modal" v-cloak>
            <!-- Modal content -->
            <div :class="classAnimatedContent" class="card modal-content" leave-active-class="animated bounceOutRight">
              <div class="row modal-title">
                <div class="flex w-1/2 justify-start">
                  <p>Titulo del modal</p>
                </div>
                <div class="flex w-1/2 justify-end">
                  <span class="times" @click="btnModal()">&times;</span>
                </div>
              </div>
              <div class="row my-6">
                <div class="flex w-full justify-start">
                  CONTENIDO
                </div>
              </div>
              <div class="row modal-footer">
                <div class="flex justify-between">
                  <button type="button" name="button" class="btn btn-red-light mx-1"  @click="btnModal()">Cancelar</button>
                  <button type="button" name="button" class="btn btn-primary mx-1">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <div class="flex flex-wrap justify-center" id="collapse">
        <% 10.times.each_with_index do |index, value| %>
        <div id="transform_collapse_<%= index %>" class="flex flex-wrap px-4 custom2">
          <div class="shadow bg-white border border-grey-light w-full h-12 cursor-pointer" v-on:click="close(<%= index %>)">
            <span >collapse</span>
          </div>
          <div v-show="show[<%= index %>]" class="shadow bg-white border border-grey-light w-full px-2 pt-2 border-t-0 element">
            <!-- table heading -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
