@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import 'button';
@import 'form';
@import 'flash';
@import 'list-group-menu';
@import 'collapse';
@import 'modal';
@import 'dropdown';
@import 'card';
@import 'tab';
@import 'froala-editor';
@import 'pagy';
@import 'spinner';
@import 'badges';
@import 'vue-multiselect/dist/vue-multiselect.min.css';

  *{
    font-family: 'Didact Gothic', sans-serif;
  }

  .row{
    @apply .flex .flex-wrap;
   }

   #dropzone {
    @apply .flex .flex-wrap .w-full .rounded .justify-center .border .border-primary .border-dashed .items-center;
  }


  .focus_form:focus-within {
    label { @apply .text-primary; }
    input { @apply .border-primary; }
    box-shadow: 0 0 5px primary;

  }

  [v-cloak] { display:none; }

  .disabled{
    @apply .bg-third .cursor-not-allowed .text-white;
  }

  .disabled-link{
    @apply .bg-third .cursor-not-allowed .text-white;
    pointer-events: none;
  }

  .disabled:hover{
    @apply .bg-third; 
  }

  .active{
    @apply .text-white .bg-secondary;
  }

  .active:hover{
    @apply .bg-secondary;
  }

  .times{
    @apply .text-grey .font-medium .text-2xl .cursor-pointer;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .divider {
    @apply .border-t .border-grey-light .my-6 .w-full;
  }

  .obligatory {
    @apply .rounded-full .h-1 .w-1 .bg-red-light .ml-1;
  }

  .img-circle {
    border-radius: 50%;
    width: 80%;
    height: 80%;
  }

  #footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #multi-select{
    padding-top: .30rem;
  }

  .multiselect__option--highlight {
    @apply .bg-primary;
  }

  .multiselect__option--highlight:after {
    @apply .bg-primary;
  }

  .multiselect__tag {
    @apply .bg-primary;
  }
  .multiselect__tag-icon:hover {
    
    @apply .bg-secondary
  }

  .multiselect__option--selected.multiselect__option--highlight {
    @apply .bg-red-lighter;
  }
  .multiselect__option--selected.multiselect__option--highlight:after {
    background: #f9acaa;
  }
  

  #overlay{
    position: absolute;
    z-index: 999;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }
