@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import 'button';
@import 'form';
@import 'flash';
@import 'list-group-menu';
@import 'collapse';
@import 'modal';
@import 'dropdown';
@import 'card';
@import 'tab';
@import 'froala-editor';

  *{
    font-family: 'Didact Gothic', sans-serif;
  }

  .row{
    @apply .flex .flex-wrap;
   }

  .focus_form:focus-within {
    label { @apply .text-primary; }
    input { @apply .border-primary; }
    box-shadow: 0 0 5px primary;

  }

  [v-cloak] { display:none; }

  .disabled{
    @apply .bg-third .cursor-not-allowed;
  }
  .disabled:hover{
    @apply .bg-third;
  }

  .active{
    @apply .text-white .bg-secondary;
  }

  .active:hover{
    @apply .bg-secondary;
  }

  .times{
    @apply .text-grey .font-medium .text-2xl .cursor-pointer;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .divider {
    @apply .border .border-grey-light .my-6;
  }

  #footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
