.collapse{
  @apply .flex .flex-wrap .px-4;
  width: 95%;
}

.collapse-title{
  @apply .flex .bg-white .border-b .border-grey-light .w-full .h-12 .cursor-pointer;
}

.collapse-content{
  overflow: hidden;
  @apply .bg-white .w-full .mx-4 .my-4 .mt-4;
}

.transform_collapse{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
  margin-top: 40px;
}

.transform_collapse_2{
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
