.focus_form:focus-within {
  label { @apply .text-primary; }
  input { @apply .border-primary .border-b-2; }
}

.invalid_form:focus-within {
  label { @apply .text-red-light; }
  input { @apply .border-red-light; }
}

.label_input {
  @apply .font-hairline .text-xs .text-grey-darker;
}

.field_input {
  @apply .appearance-none .block .w-full .text-grey-darker .border-b .py-3 .h-8;
}

.field_input:focus {
  @apply outline-none;
}

.invalid_form:focus-within {
  label { @apply .text-red-light; }
  input { @apply .border-red-light; }
  box-shadow: 0 0 5px red-light;
}

.invalid_form {
  label { @apply .text-red-light; }
  input { @apply .border-red-light; }
}

.label_input {
  @apply .font-hairline .text-xs .text-grey-darker;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.field_input {
  @apply .appearance-none .block .w-full .text-grey-darker .border-b .py-3 .h-8;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.field_input:focus {
  @apply outline-none;
}

.disabled_form{
  .label_input {
    @apply .font-hairline .text-xs .text-grey-light;
  }
  .field_input {
    @apply .appearance-none .block .w-full .text-grey-light .cursor-not-allowed;
  }
}
