.modal {
  position: fixed;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  @apply .mx-auto .my-32;
  padding: 20px;
  width: 80%;
  max-width: 1024px;
  animation-duration: 0.2s;
}

.modal-title{
  @apply .items-center .border-b .border-grey-light .pb-2;
}

.modal-footer{
  @apply .justify-end .border-t .border-grey-light .pt-2;
}

.transition-modal-enter-active, .transition-modal-leave-active {
  transition: opacity .5s;
}

.transition-modal-enter, .transition-modal-leave-to {
  opacity: 0;
}
