<%= render  'patient_basic_info', patient: patient, appointment_report: appointment_report  %>
<style>
 .table, th, td {
  border: 1px solid black;
 }
 .table, th {
  text-align: center;
 }

</style>
<br/>
<div class="row">
  <div class="col s12" >
    <%= field.html_safe %>
  </div>
</div>

<%= render "doctor_signature", doctor: appointment_report.doctor %>


