<%= render  'shared/card' do %>
  <div class="flex px-4">
    <div class="w-2/3">
    </div>
    <div class="w-1/3 text-right">
    </div>
  </div>
  <div id="schedule_appointments" class="w-full px-4" v-cloak>
    <div class="my-4 flex pb-4 border-b">
      <div class="w-1/2">
        <h4 class="font-semibold text-g-d4 text-lg">
          Agenda
          <br><span class="font-medium text-sm text-g-d2">Citas programadas</span>
        </h4>
      </div>
    </div>
    <% unless @appointments.any? %>
    <div class="alert alert-info w-full" role="alert">
      <div class="flex">
        <%= icon('fa', 'info-circle', class: 'mr-3 fa-2x') %>
        <div class="text-teal-darkest w-1/2">
          <p class="font-bold">Atención.</p>
          <p class="text-sm">No tiene citas programadas para la fecha</p>
        </div>
      </div>
    </div>
    <% else %>
    <% @appointments.each_with_index do |appointment| %>
    <%= render 'info_scheduled_appointment', appointment: appointment %>
    <div class="hidden lg:block xl:block divider"></div>
    <% end %>
    <% if @pagy.pages > 1 %>
      <div class="mt-6"></div>
    <% end %>
  </div>
<%== render 'pagy/nav', pagy: @pagy if @pagy.pages > 1 %>
<% end %>





<% end %>
