<p><%= t("devise.mailer.email_changed.greeting", recipient: "#{@resource.first_name}") %></p>

<% unless @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.mailer.email_changed.message1") %>.</p>
<% else %>
  <p><%= t("devise.mailer.email_changed.message2") %>.</p>
<% end %>
